* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f7fb;
  padding: 20px;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.card img {
  width: 100%;
  display: block;
  height: 250px;     
}
.card p {
  padding: 10px;
  font-weight: bold;
}
